.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  margin-top: 5%
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(4, 138, 247);
}

.login-header {
  background: rgb(164, 209, 245);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login label {
  padding: 12px;
}

.login p {
  padding:8px;
}

.login h6 {
  font-size:0.9em
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: rgb(79, 127, 231);
}

.login input[type="submit"] {
  background: rgb(6, 146, 253);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btnRegister{
  background: rgb(81, 166, 231);
  border-color: transparent;
  color: #fff;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  cursor: pointer;
  text-decoration: none;
}
.btnRegister:hover{
  background:#17c;
}
.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}
.has-error input[type="text"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}
.errorInavild{
  color:red;
  text-align: center;
  background-color: lightpink;
  border-radius:5px;
  margin-bottom:2%;
}