<div class="login">
  <h2 class="login-header">Log in</h2>
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

      <div class="errorInavild">
          {{size}}
        </div>

    <label [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
      <input type="text" placeholder="Username" formControlName="username">
    </label>

    <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
      <div *ngIf="formControls.username.errors.required">Username is required</div>
    </div>

    <label [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input type="password" placeholder="Password" formControlName="password">
    </label>

    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
    </div>

    <label>
      <input type="submit" value="Log in">
    </label>
    <h6>Don't have an account?</h6>
      <a class="btnRegister" [routerLink]="['/register']">Register</a>
  </form>
</div>