<div class="form-group">
  <h1>Create New Post</h1>

  <a href="#" routerLink="/home" class="btn btn-primary">Back</a>
      
  <form [formGroup]="addform" (ngSubmit)="addsubmits()">

      <div class="form-group">
      <label [ngClass]="{ 'has-error': addsubmit && formControls.names.errors }">
          <input type="text" placeholder="Name" formControlName="names">
        </label>
    
        <div *ngIf="addsubmit && formControls.names.errors" class="help-block">
          <div *ngIf="formControls.names.errors.required">Name is required</div>
        </div>
        </div>

        <div class="form-group">
        <label [ngClass]="{ 'has-error': addsubmit && formControls.shopname.errors }">
          <input type="text" placeholder="Shopname" formControlName="shopname">
        </label>
    
        <div *ngIf="addsubmit && formControls.shopname.errors" class="help-block">
          <div *ngIf="formControls.shopname.errors.required">Shopname is required</div>
          </div>
          </div>

          <div class="form-group">
        <label [ngClass]="{ 'has-error': addsubmit && formControls.address.errors }">
          <input type="text" placeholder="Address" formControlName="address">
        </label>
    
        <div *ngIf="addsubmit && formControls.address.errors" class="help-block">
          <div *ngIf="formControls.address.errors.required">Address is required</div>
        </div>
        </div>
    
        <label>
          <input type="submit" value="Submit"/>
        </label>
  </form>
</div>