<div class="form-group">
    <h1>Edit customer</h1>
  
    <a href="#" routerLink="/home" class="btn btn-primary">Back</a>
        
    <form [formGroup]="editform" (ngSubmit)="editsubmit()">
      
        <div class="form-group">
        <label [ngClass]="{ 'has-error': editsubmits && formControls.c_name.errors }">
            <input type="text" class="form-control" [(ngModel)]= "customerData[0].cname" placeholder="Name" formControlName="c_name">
          </label>
      
          <div *ngIf="editsubmits && formControls.c_name.errors" class="help-block">
            <div *ngIf="formControls.c_name.errors.required">Name is required</div>
          </div>
          </div>
          <div class="form-group">
          <label [ngClass]="{ 'has-error': editsubmits && formControls.c_shopname.errors }">
            <input type="text" class="form-control" [(ngModel)]= "customerData[0].shopname" placeholder="Shopname" formControlName="c_shopname">
          </label>
      
          <div *ngIf="editsubmits && formControls.c_shopname.errors" class="help-block">
            <div *ngIf="formControls.c_shopname.errors.required">Shopname is required</div>
            </div>
            </div>

            <div class="form-group">
          <label [ngClass]="{ 'has-error': editsubmits && formControls.c_address.errors }">
            <input type="text" class="form-control" [(ngModel)]= "customerData[0].address" placeholder="Address" formControlName="c_address">
          </label>
      
          <div *ngIf="editsubmits && formControls.c_address.errors" class="help-block">
            <div *ngIf="formControls.c_address.errors.required">Address is required</div>
          </div>
          </div>
      
          <label>
            <input type="submit" value="Submit"/>
          </label>
    </form>
  </div>