<div id="container">
  <h2>Customer management</h2>

  <a href="#" id="btnAdd" [routerLink]= "['/add']" class="btn btn-primary">Add customer</a>

  <table border="1" width='100%' class="table table-hover" id="myTable" style='border-collapse: collapse;'>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Shopname</th>
          <th>Address</th>
          <th>Action</th>
  
      </tr>
  
      <tr *ngFor='let data of posts'>
          <td>{{data.id}}</td>
          <td>{{data.cname}}</td>     
          <td>{{data.shopname}}</td>
          <td>{{data.address}}</td>
        <td>
            <!-- <a href="#" [routerLink]="['/edit', data.id]" class="btn btn-success">Edit</a> -->
            <button type="button" (click)="getNavigation('/edit', data.id)" class="btn btn-success">Edit</button>&nbsp;
            <button type="button" (click)="delete(data.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
</div>