@import "~bootstrap/dist/css/bootstrap.css";
table, td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  #btnAdd{
      margin-left:90%; 
  }
  
  #myTable{
      margin-top: 2%;
  }