<div class="register">
  <h2 class="register-header">Register</h2>
  <form [formGroup]="regForm" class="register-container" (ngSubmit)="register()">

    <label [ngClass]="{ 'has-error': submits && formControls.username.errors }">
      <input type="text" placeholder="Username" formControlName="username">
    </label>

    <div *ngIf="submits && formControls.username.errors" class="help-block">
      <div *ngIf="formControls.username.errors.required">Username is required</div>
    </div>

    <label [ngClass]="{ 'has-error': submits && formControls.email.errors }">
      <input type="email" placeholder="Email" formControlName="email">
    </label>

    <div *ngIf="submits && formControls.email.errors" class="help-block">
      <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
    <label [ngClass]="{ 'has-error': submits && formControls.password.errors }">
      <input type="password" placeholder="Password" formControlName="password">
    </label>

    <div *ngIf="submits && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
    </div>

    <label>
      <input type="submit" value="Submit"/>
    </label>
  </form>
</div>