.register {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    margin-top: 5%
  }
  
  .register-header,
  .register p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .register-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: rgb(15, 66, 107);
  }
  
  .register-header {
    background: rgb(164, 209, 245);
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
  
  .register-container {
    background: #ebebeb;
    padding: 12px;
  }
  
  .register label {
    padding: 12px;
  }
  
  .register p {
    padding:8px;
  }
  
  .register h6 {
    font-size:0.9em
  }
  
  .register input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  
  .register input[type="text"],
  .register input[type="email"],
  .register input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }
  
  .register input[type="text"]:focus,
  .register input[type="email"]:focus,
  .register input[type="password"]:focus {
    border-color: rgb(79, 127, 231);
  }
  
  .register input[type="submit"] {
    background: rgb(6, 146, 253);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .register input[type="submit"]:hover {
    background: #17c;
  }
  
  .register input[type="submit"]:focus {
    border-color: #05a;
  }
  .has-error input[type="text"],
  .has-error input[type="email"],
  .has-error input[type="password"] {
      border-color: rgb(216, 12, 12);
      color: rgb(230, 14, 14);
  }
  